.container {
    height: 350px;
    width: 550px; 
    margin: 0 auto; 
    border: 1px solid #5b9bd5; 
    display: flex;
    justify-content:center; 
    flex-direction: column; 
    align-items: center;
}

.error {
    color: red;
    width: 400px; 
    text-align: left;
    border: 1px solid #ed7d31;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.form-container {
    display: flex; 
    width: 450px; 
    margin: 10px auto;
}

.gender-label {
    margin-left:30px;
    color: black !important; 
}

.form-label {
    background-color: #5b9bd5; 
    text-align: center; 
    padding: 10px 0; 
    border: 1px solid #42719b;
    color: white;
}

.input-label {
    margin-left: 20px; 
    height: 40px; 
    width: 320px; 
    border: 1px solid #42719b;
}

.gender {
    display: flex; 
    width: 450px; 
    justify-content: left; 
    margin: 10px auto
}

.radio-container {
    display:flex; 
    align-items: center;
}

.select {
    margin-left: 20px; 
    height: 40px; 
    width: 170px; 
    border: 1px solid #42719b;
}

.button-container {
    margin: 0 auto; 
    display: flex; 
    justify-content: center;
}

.button {
    height: 45px; 
    width: 130px; 
    font-size: 15px; 
    background-color: #5b9bd5; 
    border-radius: 5px; 
    color: white;
}
